@model IEnumerable<StockDisplayModel>
@{
    Layout = "_AdminLayout";
}
<h2>Запаси</h2>

<form asp-action="Index" method="get" class="my-2 d-flex gap-2">
    <input type="text" name="sTerm" class="form-control w-25" placeholder="Пошук за книгою" />
    <button type="submit" class="btn btn-primary">Знайти</button>
    <a asp-action="Index" asp-controller="Stock" class="btn btn-primary">Очистити</a>
</form>

<table class="table table-bordered">
    <tr>
        <th>Книга</th>
        <th>Запаси</th>
        <th>Дії</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BookName</td>
            <td>@item.Quantity</td>
            <td>
                <a asp-action="ManangeStock" asp-controller="Stock" asp-route-bookId="@item.BookId" class="btn btn-info">Оновити запаси</a>
            </td>
        </tr>
    }
</table>


